{% extends 'core/base.html' %}

{% block header %}
    <h1 class="mt-4 text-center">
        {% if form.instance.pk %}
            Películas: Actualizar información
        {% else %}
            Películas: Agregar información
        {% endif %}
    </h1>
{% endblock header %}

{% block main %}
<div class="container mt-4">
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p }}
        </div>
        <button type="submit" id="btn-rosa" class="m-4 btn active">Enviar</button>
    </form>
    <div class="mt-4 text-center">
        <a class="btn btn-secondary" href="{% url 'peliculas:index' %}">Volver</a>
    </div>
</div>
{% endblock main %}
