{% extends 'core/base.html' %}

{% block header %}
    <h1 class="mt-4 text-center">Películas: Borrar película</h1>
{% endblock header %}

{% block main %}
<div class="container mt-4 text-center">
    <p class="lead">¿Estás seguro que querés borrar "<strong>{{ object.nombre }}</strong>"?</p>
    <form action="" method="post" class="mb-4">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-sm">Confirmo</button>
    </form>
    <div>
        <a class="btn btn-secondary  btn-sm" href="{% url 'peliculas:peliculas_list' %}">Volver</a>
    </div>
</div>
{% endblock main %}




